.padded {
	padding-left: 10px;
	padding-right: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer.page-footer{
	margin-top: 0px !important;
}

main {
    flex: 1 0 auto;
}

a {
	cursor: pointer;
}

/*Sectional colours from the brand manual*/
.scouts-aus-green {
	background-color: #006633 !important;
}

.joey-brown {
	background-color: #B86125;
}

.cub-yellow {
	background-color: #FFC72C;
}

.scout-green {
	background-color: #00B140;
}

.venturer-maroon {
	background-color: #9D2235;
}

.rover-red {
	background-color: #da291c;
}

.watermark {
	z-index: 100;
    opacity: 0.5;
    color: #bbbbbb;
    position: fixed;
    bottom: 10px;
	right: 10px;
	font-size: 250%;
	text-align: right;
}